/*"estilos por defecto"*/
* {
  /*removiendo estilos por defecto*/
  margin: 0;
  padding: 0;
  font-family: "inter", sans-serif; /*fuente recomendada*/
}

/*estilo del body*/

body {
  background-color: #f4f4fc; /*color de fondo para el body*/
}

/*estilo del header*/

header {
  width: 100%;
  height: 70px;
}

/*estilo del logo*/

.Logo {
  width: 100%;
  height: 50px;
  padding-top: 20px;
  padding-left: 40px;
}

/*estilo del main*/

main {
  position: absolute; /* Establece el posicionamiento absoluto del elemento */
  width: 100%;
  height: 90%;
  display: flex; /* Convierte el contenedor en un contenedor flexible */
  justify-content: space-between; /* Distribuye el espacio entre los elementos secundarios */
}

/*estiolo del contenedor caja-texto*/

.contenedor-caja-texto {
  position: absolute;
  left: 200px;
  top: 100px;
  padding-left: 100px;
  width: 1000px;
  height: 600px;
}

/*estilo de caja-texto*/

.caja-texto {
  width: 80%;
  height: 100%;
  border: none;
  background-color: #f4f4fc;
  cursor: pointer;
  color: #0a3871;
  font-size: 32px;
  font-weight: 400;
  /*font-family: "inter", sans-serif;
  se puede declarar la font de nuevo aqui por si existe alguna falla*/
}

/*estilo caja texto/placeholder*/

.caja-texto:placeholder {
  color: #0a3871;
}

/*estilo del contenedor Alert*/

.alerta {
  position: absolute;
  top: 750px;
  left: 370px;
  display: flex;
  color: #495057;
}

/*estilo del contenedor de los botones*/

.contenedor-botones {
  position: absolute;
  top: 800px;
  height: 80px;
  padding-left: 15%;
  padding-top: 15px;
}

/*estilo del boton encriptar*/

.boton-encriptar {
  width: 328px;
  height: 67px;
  border-radius: 24px;
  /*metodo de compatibilidad con navegadores obsoletos*/
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  /*----------------------------------------------------*/
  background-color: #0a3871;
  color: white;
  font-size: 16px;
  font-weight: 400;
  /*font-family: "inter", sans-serif;
  se puede declarar la font de nuevo aqui por si existe alguna falla*/
  border: none;
  margin-right: 20px;
  cursor: pointer;
}

/*estilo del boton desencriptar*/

.boton-desencriptar {
  width: 328px;
  height: 67px;
  border-radius: 24px;
  /*metodo de compatibilidad con navegadores obsoletos*/
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  /*----------------------------------------------------*/
  background-color: #d8dfe8;
  color: #0a3871;
  font-size: 16px;
  font-weight: 400;
  /*font-family: "inter", sans-serif;
    se puede declarar la font de nuevo aqui por si existe alguna falla*/
  border: 1px solid #0a3871;
  cursor: pointer;
}

/*estilos del contenedor seccion 2*/

.seccion-2 {
  display: block;
  position: relative;
  width: 400px;
  height: 840px;
  right: 200px;
  padding-right: 20px;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 32px;
  /*metodo de compatibilidad con navegadores obsoletos*/
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
  /*----------------------------------------------------*/
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.5);
}

/*estilo para el contenedor muñeco*/

.contenedor-munieco {
  position: absolute;
  left: 30px;
  top: 180px;
  box-sizing: border-box;
  padding-top: 50px;
}

/*estilo del contenedor del parrafo*/

.contenedor-parrafo {
  position: absolute;
  box-sizing: border-box;
  top: 570px;
  left: 40px;
}

/*estilo para el h3 del contenedor parrafo*/

.contenedor-parrafo {
  font-size: 24px;
  font-weight: 700;
  /*font-family: "inter", sans-serif;
  se puede declarar la font de nuevo aqui por si existe alguna falla*/
  text-align: center;
  color: #343a40;
}

/*estilo para la etiqueta p del contenedor parrafo*/

.contenedor-parrafo p {
  /*font-family: "inter", sans-serif;
    se puede declarar la font de nuevo aqui por si existe alguna falla*/
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #495057;
  padding-top: 20px;
}

/*estilo para el contenedor resultado*/

.contenedor-resultado {
  position: absolute;
  bottom: 410px;
  width: 320px;
  height: 450px;
  padding: 0;
  box-sizing: border-box;
  margin-left: 25px;
}
